<launch>
<!--<env name="ROS_MASTER_URI" value="http://localhost:11311"/>
<env name ="ROS_IP" value="127.0.0.1"/>-->
<param name="use_sim_time" value="false" />
<!--<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
  <param name="scan" value="laser" />
  <param name="odom_frame" value="odom" />
  <param name="base_frame" value="base_link" />
</node> -->
<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0.0 0 0.0 0.0 0.0 0.0 /base_link /laser 100" />
<include file="$(find abhyast)/launch/teleop.launch"/>
<node pkg="abhyast" type="main.py" name="abhyast_node"/>
</launch>
